<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">
  <Identity
    Name="{{IdentityName}}"
    Publisher="{{Publisher}}"
    Version="{{PackageVersion}}"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>TeleArk</DisplayName>
    <PublisherDisplayName>{{PublisherDisplayName}}</PublisherDisplayName>
    <Description>Encrypted archive for Telegram media.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-US" />
    <Resource Language="de-DE" />
    <Resource Language="es-ES" />
    <Resource Language="fr-FR" />
    <Resource Language="ja-JP" />
    <Resource Language="ko-KR" />
    <Resource Language="pt-BR" />
    <Resource Language="ru-RU" />
    <Resource Language="zh-CN" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application Id="TeleArk" Executable="teleark.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="TeleArk"
        Description="Encrypted archive for Telegram media."
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
